
.jspContainer {
    overflow: hidden;
    position: relative;
}
.jspPane {
    position: absolute;
}
.jspVerticalBar {
    background: red;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}
.jspHorizontalBar {
    background: red;
    bottom: 0;
    height: 16px;
    left: 0;
    position: absolute;
    width: 100%;
}
.jspCap {
    display: none;
}
.jspHorizontalBar .jspCap {
    float: left;
}
.jspTrack {
    background: #000;
    position: relative;
}
.box-playing .jspTrack {
    background: #000; /*updated by vietnt*/
}

.jspDrag {
    background: #262626;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
	border-radius:2px;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}
.jspArrow {
    background: #50506d;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    text-indent: -20000px;
}
.jspArrow.jspDisabled {
    background: #80808d;
    cursor: default;
}
.jspVerticalBar .jspArrow {
    height: 16px;
}
.jspHorizontalBar .jspArrow {
    float: left;
    height: 100%;
    width: 16px;
}
.jspVerticalBar .jspArrow:focus {
    outline: medium none;
}
.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}
* html .jspCorner {
    margin: 0 -3px 0 0;
}
